<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <h1>Order Your Food!</h1>
    <form action="" method="">
        <input type="text" name="food" id="food" placeholder="Enter your order"/>
        <button type="submit" onclick="addItem()">Place Order</button>
        <div id="billList"></div>

        <script>
            function addItem(item){
                const fullBill = document.getElementById("billList");
                const billItem = document.createElement("p");
                billItem.innerText = document.getElementById("food");
                fullBill.appendChild(billItem);
            }
        </script>
    </form>
</body>
</html>