<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Now</title>
</head>
<body>
    <h1>Order Now!</h1>
    <input type="text" id="dish" placeholder="Enter Dish" name="dish">
    <button id="btn" onclick="addToList()">Add</button>
    <div id="list"></div>
    <script>
        function addToList(){
            const p = document.createElement("p");
            p.innerText = {response};
            list.appendChild(p);
        }
    </script>
</body>
</html>